In [56]:
import pandas as pd
import numpy as np

In [57]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
print(train.shape,test.shape)

(42100, 19) (28068, 18)

In [58]:
test.drop(['id'],axis=1,inplace=True)
train.drop(['id'],axis=1,inplace=True)

In [59]:
train

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42095,3,0,0,4,0,0,1,160,2018,12,30,1,0,0,0,140.00,2,1
42096,2,0,0,3,0,0,0,34,2017,9,23,0,0,0,0,224.67,0,0
42097,2,0,0,2,2,0,0,292,2018,7,21,0,0,0,0,96.00,0,0
42098,1,0,0,3,0,0,0,5,2018,11,9,0,0,0,0,120.00,0,0
42099,2,0,1,1,0,0,1,40,2017,10,26,0,0,0,0,65.00,0,0

In [60]:
test

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,3,0,1,4,0,0,1,111,2018,12,5,1,0,0,0,115.60,2
1,2,0,0,3,0,0,0,22,2017,10,21,0,0,0,0,85.00,0
2,2,2,0,1,0,0,3,18,2018,8,10,1,0,0,0,240.00,1
3,2,0,0,3,0,0,0,88,2018,5,30,0,0,0,0,80.75,0
4,1,0,0,2,2,0,0,7,2018,9,21,1,0,0,0,144.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28063,2,0,1,2,0,0,0,315,2018,9,30,1,0,0,0,160.00,0
28064,2,0,2,2,0,0,0,81,2018,3,25,0,0,0,0,65.00,1
28065,2,0,1,2,0,0,0,40,2018,10,22,0,0,0,0,85.00,0
28066,3,0,0,4,0,0,1,4,2018,9,6,1,0,0,0,162.75,0
28067,2,0,2,3,0,0,0,191,2018,8,28,1,0,0,0,84.31,0

In [61]:
y=train['booking_status']
x=train.drop(['booking_status'],axis=1)

In [62]:
from sklearn.feature_selection import SelectKBest, f_classif
import pandas as pd



# Instantiate the SelectKBest class
selector = SelectKBest(f_classif, k=10)

# Fit the selector on the data and transform the data
X_selected = selector.fit_transform(x, y)

# Get the indices of the selected features
selected_indices = selector.get_support(indices=True)

# Get the names of the selected features
selected_features = x.columns[selected_indices]

# Create a new DataFrame with the selected features
x = pd.DataFrame(X_selected, columns=selected_features)
x

,no_of_adults,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,market_segment_type,repeated_guest,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,2.0,2.0,0.0,9.0,2018.0,1.0,1.0,0.0,67.50,0.0
1,2.0,2.0,0.0,117.0,2018.0,0.0,0.0,0.0,72.25,0.0
2,2.0,1.0,0.0,315.0,2018.0,0.0,0.0,0.0,52.00,0.0
3,1.0,2.0,0.0,32.0,2018.0,1.0,0.0,0.0,56.00,0.0
4,2.0,0.0,0.0,258.0,2018.0,0.0,0.0,0.0,100.00,0.0
...,...,...,...,...,...,...,...,...,...,...
42095,3.0,4.0,0.0,160.0,2018.0,1.0,0.0,0.0,140.00,2.0
42096,2.0,3.0,0.0,34.0,2017.0,0.0,0.0,0.0,224.67,0.0
42097,2.0,2.0,0.0,292.0,2018.0,0.0,0.0,0.0,96.00,0.0
42098,1.0,3.0,0.0,5.0,2018.0,0.0,0.0,0.0,120.00,0.0
42099,2.0,1.0,0.0,40.0,2017.0,0.0,0.0,0.0,65.00,0.0

In [63]:

test=test.iloc[:,selected_indices]
test

,no_of_adults,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,market_segment_type,repeated_guest,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,3,4,0,111,2018,1,0,0,115.60,2
1,2,3,0,22,2017,0,0,0,85.00,0
2,2,1,0,18,2018,1,0,0,240.00,1
3,2,3,0,88,2018,0,0,0,80.75,0
4,1,2,0,7,2018,1,0,0,144.00,0
...,...,...,...,...,...,...,...,...,...,...
28063,2,2,0,315,2018,1,0,0,160.00,0
28064,2,2,0,81,2018,0,0,0,65.00,1
28065,2,2,0,40,2018,0,0,0,85.00,0
28066,3,4,0,4,2018,1,0,0,162.75,0
28067,2,3,0,191,2018,1,0,0,84.31,0

In [64]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [65]:
import os
np.set_printoptions(precision=4)
import catboost
from catboost import *
from catboost import CatBoostClassifier
import optuna
from optuna.samplers import TPESampler
import pickle
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [66]:
def objective(trial):
    model = catboost.CatBoostClassifier(
        iterations=trial.suggest_int("iterations", 100, 1000),
        learning_rate=trial.suggest_float("learning_rate", 1e-3, 1e-1, log=True),
        depth=trial.suggest_int("depth", 4, 10),
        l2_leaf_reg=trial.suggest_float("l2_leaf_reg", 1e-8, 100.0, log=True),
        bootstrap_type=trial.suggest_categorical("bootstrap_type", ["Bayesian"]),
        random_strength=trial.suggest_float("random_strength", 1e-8, 10.0, log=True),
        bagging_temperature=trial.suggest_float("bagging_temperature", 0.0, 10.0),
        od_type=trial.suggest_categorical("od_type", ["IncToDec", "Iter"]),
        od_wait=trial.suggest_int("od_wait", 10, 50),
        verbose=False
    )
    model.fit(xtrain, ytrain)
    y_pred = model.predict(xtest)
    return accuracy_score(ytest, y_pred)

In [67]:
optuna.logging.set_verbosity(optuna.logging.WARNING)

sampler = TPESampler(seed=1)
study = optuna.create_study(study_name="catboost", direction="maximize", sampler=sampler)
study.optimize(objective, n_trials=100,show_progress_bar=True)

c:\Users\xfini\anaconda3\lib\site-packages\optuna\progress_bar.py:56: ExperimentalWarning: Progress bar is experimental (supported from v1.2.0). The interface can change in the future.
  self._init_valid()

  0%|          | 0/100 [00:00<?, ?it/s]

In [68]:
print("Number of finished trials: ", len(study.trials))
print("Best trial:")
trial = study.best_trial
print("  Value: ", trial.value)
print("  Params: ")
for key, value in trial.params.items():
    print("    {}: {}".format(key, value))

Number of finished trials:  100
Best trial:
  Value:  0.819833729216152
  Params:
    iterations: 884
    learning_rate: 0.09947920757879158
    depth: 7
    l2_leaf_reg: 2.6571688862498593
    bootstrap_type: Bayesian
    random_strength: 8.650927239106144e-08
    bagging_temperature: 0.011738118567989564
    od_type: Iter
    od_wait: 45

In [69]:
trial.params

{'iterations': 884,
 'learning_rate': 0.09947920757879158,
 'depth': 7,
 'l2_leaf_reg': 2.6571688862498593,
 'bootstrap_type': 'Bayesian',
 'random_strength': 8.650927239106144e-08,
 'bagging_temperature': 0.011738118567989564,
 'od_type': 'Iter',
 'od_wait': 45}

In [70]:
tunned_model = CatBoostClassifier(**trial.params)

tunned_model.fit(
    xtrain, ytrain,
    verbose=False,
    eval_set=(xtest, ytest),
    plot=True

)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

In [71]:
clf = CatBoostClassifier(
    random_seed=63,
    iterations=int(tunned_model.tree_count_ * 1.2)
)

clf.fit(
    x, y,
    verbose=500
)

Learning rate set to 0.080169
0:	learn: 0.6509852	total: 19.5ms	remaining: 11.8s
500:	learn: 0.3790793	total: 7.29s	remaining: 1.57s
608:	learn: 0.3725939	total: 8.84s	remaining: 0us

In [72]:
clfs = []
clfs.append(clf)

In [73]:
import lightgbm as lgb
import optuna
import sklearn.metrics

def objective(trial):
    """
    Objective function to be minimized.
    """
    dtrain = lgb.Dataset(xtrain, label=ytrain)
    param = {
        "objective": "binary",
        "metric": "binary_logloss",
        "verbosity": -1,
        "boosting_type": "gbdt",
        "lambda_l1": trial.suggest_float("lambda_l1", 1e-8, 10.0, log=True),
        "lambda_l2": trial.suggest_float("lambda_l2", 1e-8, 10.0, log=True),
        "num_leaves": trial.suggest_int("num_leaves", 2, 256),
        "feature_fraction": trial.suggest_float("feature_fraction", 0.4, 1.0),
        "bagging_fraction": trial.suggest_float("bagging_fraction", 0.4, 1.0),
        "bagging_freq": trial.suggest_int("bagging_freq", 1, 7),
        "min_child_samples": trial.suggest_int("min_child_samples", 5, 100),
    }

    gbm = lgb.train(param, dtrain)
    preds = gbm.predict(xtest)
    pred_labels = np.rint(preds)
    accuracy = sklearn.metrics.accuracy_score(ytest, pred_labels)
    return accuracy
study = optuna.create_study(direction="maximize")
study.optimize(objective, n_trials=100,show_progress_bar=True)
print('Best parameters:', study.best_params)
print('Best value:', study.best_value)
print('Best trial:', study.best_trial)

c:\Users\xfini\anaconda3\lib\site-packages\optuna\progress_bar.py:56: ExperimentalWarning: Progress bar is experimental (supported from v1.2.0). The interface can change in the future.
  self._init_valid()

  0%|          | 0/100 [00:00<?, ?it/s]

Best parameters: {'lambda_l1': 0.12079997610995628, 'lambda_l2': 0.010487783740539535, 'num_leaves': 135, 'feature_fraction': 0.4776560349397924, 'bagging_fraction': 0.6616748408678551, 'bagging_freq': 7, 'min_child_samples': 24}
Best value: 0.8224465558194775
Best trial: FrozenTrial(number=51, state=TrialState.COMPLETE, values=[0.8224465558194775], datetime_start=datetime.datetime(2023, 2, 22, 0, 59, 41, 683521), datetime_complete=datetime.datetime(2023, 2, 22, 0, 59, 42, 108623), params={'lambda_l1': 0.12079997610995628, 'lambda_l2': 0.010487783740539535, 'num_leaves': 135, 'feature_fraction': 0.4776560349397924, 'bagging_fraction': 0.6616748408678551, 'bagging_freq': 7, 'min_child_samples': 24}, user_attrs={}, system_attrs={}, intermediate_values={}, distributions={'lambda_l1': FloatDistribution(high=10.0, log=True, low=1e-08, step=None), 'lambda_l2': FloatDistribution(high=10.0, log=True, low=1e-08, step=None), 'num_leaves': IntDistribution(high=256, log=False, low=2, step=1), 'feature_fraction': FloatDistribution(high=1.0, log=False, low=0.4, step=None), 'bagging_fraction': FloatDistribution(high=1.0, log=False, low=0.4, step=None), 'bagging_freq': IntDistribution(high=7, log=False, low=1, step=1), 'min_child_samples': IntDistribution(high=100, log=False, low=5, step=1)}, trial_id=51, value=None)

In [74]:
study.best_params

{'lambda_l1': 0.12079997610995628,
 'lambda_l2': 0.010487783740539535,
 'num_leaves': 135,
 'feature_fraction': 0.4776560349397924,
 'bagging_fraction': 0.6616748408678551,
 'bagging_freq': 7,
 'min_child_samples': 24}

In [75]:
clf = lgb.LGBMClassifier(**study.best_params)
clf.fit(xtrain, ytrain)

[LightGBM] [Warning] feature_fraction is set=0.4776560349397924, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4776560349397924
[LightGBM] [Warning] lambda_l1 is set=0.12079997610995628, reg_alpha=0.0 will be ignored. Current value: lambda_l1=0.12079997610995628
[LightGBM] [Warning] bagging_fraction is set=0.6616748408678551, subsample=1.0 will be ignored. Current value: bagging_fraction=0.6616748408678551
[LightGBM] [Warning] lambda_l2 is set=0.010487783740539535, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.010487783740539535
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7

LGBMClassifier(bagging_fraction=0.6616748408678551, bagging_freq=7,
               feature_fraction=0.4776560349397924,
               lambda_l1=0.12079997610995628, lambda_l2=0.010487783740539535,
               min_child_samples=24, num_leaves=135)

In [76]:
clfs.append(clf)
clfs

[<catboost.core.CatBoostClassifier at 0x2351c0fdc70>,
 LGBMClassifier(bagging_fraction=0.6616748408678551, bagging_freq=7,
                feature_fraction=0.4776560349397924,
                lambda_l1=0.12079997610995628, lambda_l2=0.010487783740539535,
                min_child_samples=24, num_leaves=135)]

In [77]:
from xgboost import XGBClassifier
def objective(trial):
    
    param = {
        'max_depth': trial.suggest_int('max_depth', 2, 15),
        'subsample': trial.suggest_discrete_uniform('subsample', 0.6, 1.0, 0.05),
        'n_estimators': trial.suggest_int('n_estimators', 1000, 10000, 100),
        'eta': trial.suggest_discrete_uniform('eta', 0.01, 0.1, 0.01),
        'reg_alpha': trial.suggest_int('reg_alpha', 1, 50),
        'reg_lambda': trial.suggest_int('reg_lambda', 5, 100),
        'min_child_weight': trial.suggest_int('min_child_weight', 2, 20),
        "colsample_bytree": trial.suggest_float("colsample_bytree", 0.1, 1.0),
    }
   
    model = XGBClassifier(random_state=42,**param )  
    model.fit(xtrain, ytrain,eval_set=[(xtest,ytest)], early_stopping_rounds=150,verbose=False)
    preds = model.predict(xtest)
    acc = accuracy_score(ytest, preds)
    return acc
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=3,show_progress_bar=True)
#study.optimize(objective, n_trials=50)
print('Number of finished trials:', len(study.trials))
print('Best trial:', study.best_trial.params)

c:\Users\xfini\anaconda3\lib\site-packages\optuna\progress_bar.py:56: ExperimentalWarning: Progress bar is experimental (supported from v1.2.0). The interface can change in the future.
  self._init_valid()

  0%|          | 0/3 [00:00<?, ?it/s]

C:\Users\xfini\AppData\Local\Temp\ipykernel_6812\489051848.py:6: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'subsample': trial.suggest_discrete_uniform('subsample', 0.6, 1.0, 0.05),
C:\Users\xfini\AppData\Local\Temp\ipykernel_6812\489051848.py:8: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'eta': trial.suggest_discrete_uniform('eta', 0.01, 0.1, 0.01),
c:\Users\xfini\anaconda3\lib\site-packages\xgboost\sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(
C:\Users\xfini\AppData\Local\Temp\ipykernel_6812\489051848.py:6: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'subsample': trial.suggest_discrete_uniform('subsample', 0.6, 1.0, 0.05),
C:\Users\xfini\AppData\Local\Temp\ipykernel_6812\489051848.py:8: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'eta': trial.suggest_discrete_uniform('eta', 0.01, 0.1, 0.01),
c:\Users\xfini\anaconda3\lib\site-packages\xgboost\sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(
C:\Users\xfini\AppData\Local\Temp\ipykernel_6812\489051848.py:6: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'subsample': trial.suggest_discrete_uniform('subsample', 0.6, 1.0, 0.05),
C:\Users\xfini\AppData\Local\Temp\ipykernel_6812\489051848.py:8: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'eta': trial.suggest_discrete_uniform('eta', 0.01, 0.1, 0.01),
c:\Users\xfini\anaconda3\lib\site-packages\xgboost\sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Number of finished trials: 3
Best trial: {'max_depth': 15, 'subsample': 0.8, 'n_estimators': 6700, 'eta': 0.09, 'reg_alpha': 12, 'reg_lambda': 60, 'min_child_weight': 5, 'colsample_bytree': 0.8977793914087048}

In [78]:
study.best_trial.params

{'max_depth': 15,
 'subsample': 0.8,
 'n_estimators': 6700,
 'eta': 0.09,
 'reg_alpha': 12,
 'reg_lambda': 60,
 'min_child_weight': 5,
 'colsample_bytree': 0.8977793914087048}

In [79]:
clf = XGBClassifier(**study.best_trial.params)
clf.fit(xtrain, ytrain)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.8977793914087048, early_stopping_rounds=None,
              enable_categorical=False, eta=0.09, eval_metric=None,
              feature_types=None, gamma=None, gpu_id=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=15,
              max_leaves=None, min_child_weight=5, missing=nan,
              monotone_constraints=None, n_estimators=6700, n_jobs=None,
              num_parallel_tree=None, predictor=None, ...)

In [80]:
clfs.append(clf)
clfs

[<catboost.core.CatBoostClassifier at 0x2351c0fdc70>,
 LGBMClassifier(bagging_fraction=0.6616748408678551, bagging_freq=7,
                feature_fraction=0.4776560349397924,
                lambda_l1=0.12079997610995628, lambda_l2=0.010487783740539535,
                min_child_samples=24, num_leaves=135),
 XGBClassifier(base_score=None, booster=None, callbacks=None,
               colsample_bylevel=None, colsample_bynode=None,
               colsample_bytree=0.8977793914087048, early_stopping_rounds=None,
               enable_categorical=False, eta=0.09, eval_metric=None,
               feature_types=None, gamma=None, gpu_id=None, grow_policy=None,
               importance_type=None, interaction_constraints=None,
               learning_rate=None, max_bin=None, max_cat_threshold=None,
               max_cat_to_onehot=None, max_delta_step=None, max_depth=15,
               max_leaves=None, min_child_weight=5, missing=nan,
               monotone_constraints=None, n_estimators=6700, n_jobs=None,
               num_parallel_tree=None, predictor=None, ...)]

In [81]:
test_preds = []

for clf in clfs:
    preds = clf.predict_proba(test)
    test_preds.append(preds[:, 1])
    
test_preds = np.stack(test_preds).mean(0)
test_preds

array([0.2106, 0.0406, 0.3639, ..., 0.0802, 0.4124, 0.9083])

In [82]:
c=pd.read_csv('sample_submission.csv')
c

          id  booking_status
0      42100           0.392
1      42101           0.392
2      42102           0.392
3      42103           0.392
4      42104           0.392
...      ...             ...
28063  70163           0.392
28064  70164           0.392
28065  70165           0.392
28066  70166           0.392
28067  70167           0.392

[28068 rows x 2 columns]

In [83]:
c['booking_status']=test_preds
c

          id  booking_status
0      42100        0.210570
1      42101        0.040647
2      42102        0.363900
3      42103        0.042519
4      42104        0.375833
...      ...             ...
28063  70163        0.930519
28064  70164        0.022996
28065  70165        0.080231
28066  70166        0.412355
28067  70167        0.908262

[28068 rows x 2 columns]

In [84]:
c.to_csv('submissionoptmix.csv',index=False)